@use "/src/styles/index" as *;

.customTooltip {
    padding: 0.5rem;
    background-color: #fff;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgb(0 0 0 / 0.1);

    &__title {
        margin-bottom: 0.25rem;
        font-size: 0.75rem;
        font-weight: 600;
        color: #6d28d9;
    }

    &__text {
        font-size: 0.875rem;
        color: #4b5563;
    }

    &__value {
        font-size: 0.875rem;
        font-weight: 500;
        color: #111827;
    }
}
