@use "/src/styles/index" as *;

.expenseChart {
    grid-column: span 1 / span 1;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-size: 1.125rem;
    }
}
