@use "/src/styles/index" as *;

.recentIncome {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-size: 1.125rem;
    }

    &__buttonIcon {
        font-size: 1rem;
    }

    &__transactions {
        margin-top: 1.5rem;
    }
}
