@use "/src/styles/index" as *;

.expenseDashboard {
    &__content {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        gap: 1.5rem;
    }

    &__overview {
        width: 100%;
    }
}
