@use "/src/styles/index" as *;

.dashboard {
    margin: 1.25rem auto;

    &__cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }

    &__contentGrid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        margin-top: 1.5rem;

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}
