@use "sass:map";
@use "sass:color";
@use "variables" as *;
@use "breakpoints" as *;

@mixin displayFlexRow {
    display: flex;
    flex-direction: row;
}

@mixin card-border {
    border: 1px solid black;
    border-radius: $defaultBorderRadius;
}

@mixin minimalScrollBar {
    scrollbar-width: thin;
    scrollbar-color: rgba(white, 0.75) transparent;
}

@mixin respond-between($min, $max) {
    @media screen and (max-width: $max) and (min-width: $min) {
    }
}

@mixin respond_min_width($breakpoint) {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
        @content;
    }
}

@mixin text($size) {
    font-size: map.get($font-sizes, $size);
}

@mixin font($weight) {
    font-weight: map.get($font-weights, $weight);
}

@mixin space($property, $size) {
    #{$property}: map.get($spacing, $size);
}

@mixin rounded($size) {
    border-radius: map.get($radius, $size);
}

@mixin apply($property, $value) {
    #{$property}: $value;
}

@mixin themify($property, $color-name, $opacity: 1, $important: false) {
    $theme-color: map.get($theme-colors, $color-name);

    @if $theme-color == null {
        @error "Theme color '#{$color-name}' was not found.";
    }

    $value: color.change($theme-color, $alpha: $opacity);

    @if $important {
        #{$property}: $value !important;
    } @else {
        #{$property}: $value;
    }
}
